{% extends 'base.html.twig' %}

{% block body %}

    <!--header end-->
    <!--container start-->
    <div class="container">
        <div class="row">
            <!--feature start-->
            <div class="text-center feature-head">
                <img class="encouragment_pic" src="{{ asset('bundles/questionnaire/Back/img/encouragement.jpg') }}" alt=""/>
                <h1>Bonnes révisions Maman</h1>
            </div>
            <div class="col-lg-4 col-sm-4">
                <section>
                    <a href="{{ path('questionnaire_access', {'id': 1}) }}">
                        <div class="f-box">
                            <i class=" fa fa-wheelchair"></i>
                            <h2>Anatomie</h2>
                        </div>
                    </a>
                    <p class="f-text">QCM sur l'anatomie. Tu as plusieurs réponses possibles par questions</p>
                </section>
            </div>
            <div class="col-lg-4 col-sm-4">
                <section>
                    <a href="{{ path('questionnaire_access', {'id': 2}) }}">
                        <div class="f-box">
                            <i class=" fa fa-gears"></i>
                            <h2>Tests psychotechniques</h2>
                        </div>
                    </a>
                    <p class="f-text">Les meilleurs tests psychotecniques du net.</p>
                </section>
            </div>
            <div class="col-lg-4 col-sm-4">
                <section>
                    <div class="f-box">
                        <i class="fa fa-gears"></i>
                        <h2>Les deux</h2>
                    </div>
                    <p class="f-text">Rubrique en cours de développement</p>
                </section>
            </div>
            <!--feature end-->
        </div>
    </div>
    <!--footer start-->
    <footer class="footer">
        <div class="container">
        </div>
    </footer>
    <!--footer end-->
{% endblock %}

